* {
        border: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: londrina 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: auto;
      }
      .paragraph{
        position: relative;
        text-align: center;
        color: white;
      }