* {
        border: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: londrina 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    body{
        background-image: ;
    }